
<button id="datagen" type="button" onclick="checkstreams()" class="btn btn-primary" >Generate</button>
<br>
<center>
	<div id="indicator"></div>

	<hr>
	<img id="process" src="<?=url('/')?>/plugins/pkurg/blogfakedata/assets/process.gif?v=1" hidden>	

</center>




<script type="text/javascript">
/*
	setInterval(myMethod, 1000);

function myMethod( )
{

	$.get( "<?=url(config('cms.backendUri'))?>/pkurg/blogfakedata/genfakedata/progress", function( data ) {


		$('#indicator').html(data);



	});

}
*/


function checkstreams(){

	$("#datagen").attr("disabled", true);
	$("#process").attr("hidden", false);
	$.oc.flashMsg({ 'text': 'Start generation', 'class': 'success', 'interval': 3 });


	$.get( "<?=url(config('cms.backendUri'))?>/pkurg/blogfakedata/genfakedata", function( data ) {


		$.oc.flashMsg({ 'text': 'End of generation', 'class': 'success', 'interval': 3 });

		$('#datagen').removeAttr("disabled");
		$("#process").attr("hidden", true);


	});

}




</script>

